
<div class="hero-section">
    <div class="d-flex justify-content-center">
      <div class="container ">
        <div class="row">
          <!-- Mapa -->
          <div class="col-md-8 mapa" style="height: auto;">
            <div id="mapa"></div>
          </div>
    
          <!-- Detalhes da Carga -->
          <div class="tabela col-md-4 d-flex flex-column justify-content-center align-items-center" style="height: auto;">

            <!-- Tabela de Cargas -->
            <div > 0" class="cargas">
                <table class="table-responsive table table-striped ">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Coordenada</th>
                      </tr>
                    </thead>
                </table>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  
  </div>
  