<footer *ngIf="autenticado" class="footer bg-dark text-white py-4">
  <div class="container text-center">
    <p class="mb-1">&copy; {{ currentYear }} Cargo Vision</p>
    <p class="mb-1">DEV GILVAN | DEV MATHEUS | DEV GUSTAVO</p>
    <ul class="list-inline mt-3">
      <li class="list-inline-item"><a href="#" class="text-white footer-link">Contato</a></li>
      <li class="list-inline-item"><a href="#" class="text-white footer-link">Política de Privacidade</a></li>
    </ul>
  </div>
</footer>
