.footer {
  height: auto;
  background: rgb(10,25,36);
  background: linear-gradient(0deg, rgba(10,25,36,1) 0%, rgba(22,92,114,1) 100%);
    color: white;
  }
  
  .footer a {
    color: white;
  }
  
  .footer a:hover {
    color: #f8f9fa; /* Cor para links ao passar o mouse */
  }
  